/* all */
body {
    margin: 0;
}

/* header */
header {
    background-color: #36827f;
}

header ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header h3 {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

#website-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    list-style: none;
}

/* main */
main {
    background-color: #f1ffe7;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

p {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

/* footer */
footer {
    background-color: #36827f;
}

footer p {
    display: inline-block;
}

#github-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
}