/* all */
:root {
    --background-color-1: #f1ffe7;
    --background-color-2: #36827f;
    --accent-color-1: #850400;
    --accent-color-2: #1a1b41;
    --accent-color-3: #f9db6d;
}

body {
    margin: 0;
}

/* header */

header {
    background-color: var(--background-color-2);
    padding: 20px;
    border-bottom: var(--accent-color-1) solid 10px;
}

#website-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

header h3 {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: var(--accent-color-2);
}

/* dropdown button in header*/
.drop-header {
    background-color: var(--accent-color-2);
    color: var(--accent-color-3);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
  
.dropdown {
    position: relative;
    float: right;
    padding-right: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    color: var(--accent-color-2);
    background-color: var(--background-color-1);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--accent-color-2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    color: var(--accent-color-1);
    background-color: var(--accent-color-3);
    border-left: solid var(--accent-color-2) 3px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .drop-header {
    color: var(--accent-color-1);
    background-color: var(--accent-color-3);
} 

/* main */
main {
    background-color: var(--background-color-1);
    padding: 40px;
}

h1 {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: var(--accent-color-2);
}

p {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

/* footer */
footer {
    background-color: var(--background-color-2);
    color: var(--accent-color-2);
    padding: 20px;
    border-top: var(--accent-color-1) solid 10px;
    text-align: center;
}


#github-icon {
    height: 40px;
    width: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}